* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(32, 31, 31);
  color: white;

}

#root {
  height: 100vh;
  display: flex;
}
.App {
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #110f0f;
    width: 30%;
    margin: auto;
    box-shadow: 13px 13px 20px 0px #3c3737;
    border-radius: 7px;
    padding: 10px;
}

.title {
  margin-bottom: 25px;
  text-decoration: underline;
}

.todoWrapper {
  height: 50%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
}

.todoInput input{
    height: 30px;
    width: 100%;
    padding: 6px;
    outline-color: green;
    margin-top: 8px;
}

.todoInputBtn {
  display: flex;
  justify-content: end;
  margin-top: 11px;
}

.todoInputBtn button {
  color: white;
  background: green;
  font-size: 17px;
  text-transform: lowercase;
  padding: 2px 17px;
  border: none;
  border-radius: 2px;
  font-family: cursive;
  cursor: pointer;
  transition: 0.4s;
}

.todoInputBtn button:hover {
  background-color: rgb(2, 98, 2);
  letter-spacing: 2px;
}

.btnArea {
  display: flex;
  justify-content: space-between;
  width: 45%;
  margin-bottom: 18px;
}

.btnArea .todoInputBtn {
  color: white;
  background: green;
  font-size: 17px;
  text-transform: lowercase;
  padding: 2px 17px;
  border: none;
  border-radius: 2px;
  font-family: cursive;
  cursor: pointer;
  transition: 0.4s;
}

.btnArea .todoInputBtn:hover {
  background-color: rgb(2, 98, 2);
  letter-spacing: 2px;
}

.todoList {
  background: #66666670;
  width: 95%;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  padding: 5px;
    margin: 5px 0px;
}

.todoListItem h1 {
  color: rgb(2, 98, 2);
}

.todoListIcon {
  width: 20%;
  display: flex;
  justify-content: space-around;
}

.deleteIcon {
  cursor: pointer;
  font-size: 18px;
  transition: 0.4s;
}

.deleteIcon:hover {
  color: red;
}

.chekIcon {
  cursor: pointer;
  font-size: 18px;
  transition: 0.4s;
}

.chekIcon:hover {
  color: greenyellow;
}

.active {
  color: white;
  background: green;
  font-size: 17px;
  text-transform: lowercase;
  padding: 2px 17px;
  border: none;
  border-radius: 2px;
  font-family: cursive;
  cursor: pointer;
  transition: 0.4s;}


  @media screen and (max-width:800px) {
    .App {
      width: auto !important;
    }
  }